*{

}
.container{
    text-align: center;
    color: red;
    background-color: orange;
    height: 300px;
    width: 800px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style:  double solid;
    border-color:orangered;
    border-left-width: 5px;
    border-right-width: 5px;
    border-radius: 20px;



}
.zip{
    color: white;
    font-size: 20px;
}
.tit{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 17px;
    
}