*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url(https://media.istockphoto.com/id/1133851396/vector/abstract-vector-curve-pattern-grey-and-white-gradient-wave-background-illustration-for.jpg?s=612x612&w=0&k=20&c=Jh4y4v98xKdzz7ipQAG06Q3oTBTI1_CdP4JTt7uQIDg=);
    background-size: cover;
}
.container{
    text-align: center;
    margin-top: 60px;
}
.labels{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    border-bottom: 2px dashed olivedrab;

}
.lab{
    display: flex;
    margin-bottom: 130px;
    gap: 20px

}

.march{
    background-color: white;
    border-bottom: 2px solid green;
    width: 400px;
    height: 200px;
    padding-top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.Results{
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid red;
    width: 400px;
    height: 200px;
    padding-top: 90px;
}
.pu{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid gray;
    width: 400px;
    height: 200px;
    padding-top: 90px;
}
.pu2{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid yellow;
    width: 400px;
    height: 200px;
    padding-top: 90px;
}
.pvc{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid blue;
    width: 400px;
    height: 200px;
    padding-top: 90px;
}
.main{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid olivedrab;
    width: 400px;
    height: 200px;
    padding-top: 90px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
}
.number{
    display: flex;
    gap: 20px;
    text-align: center;
    padding-left: 420px;
    padding-top: 20px;
    letter-spacing: 5px;
}
.fold{
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.end{
    padding-top: 20px;
    font-size: 12px;
    color: grey;
}
.n1{
    text-decoration: underline;
    color: green;
}
.n2{
    text-decoration: underline;
    color: green;
}
.n3{
    text-decoration: underline;
    color: green;
}
.vl{
    border-left: 1px solid grey;
}

