*{

}
#outline{
    text-align: center;
    border: 2px solid;
    border-width: 12px;
    border-radius: 7px;
    padding: 20px;
    border-color: greenyellow;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}
#outline{
    outline-style: ridge;
    outline-color: red;
    outline-width: 10px;
    outline-offset: 5px;
}