*{

}
.gradient{
    background-image: linear-gradient(to right, rgb(255, 166, 166) , violet);
    width:170px;
    height: 30px;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 19px;
    border-radius: 7px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}